html {
    scroll-behavior: smooth;
}

h1{
    color: blue;
} 
img {
    max-width: 100%;
    height: auto;
} 
figcaption{
    text-align: center;
}
a { 
    text-decoration: none;
     
    
}
li {
    list-style-type: none;
    
}